<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성폼</title>
</head>
<style>
    .layout {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .layout input {
        width: 100%;
        box-sizing: border-box;
    }

    .layout textarea {
        width: 100%;
        margin-top: 10px;
        min-height: 300px;
    }
</style>
<body>
<div class="layout">

    <!-- 게시판 글을 수정하기 위한 폼 -->
    <!-- th:action 속성을 사용하여 폼 제출 시 /board/update/{id} 경로로 POST 요청을 보냄 -->
    <!-- {id} 부분은 실제로 board.id 값으로 대체됨   board.id가 3이라면 실제 경로는 /board/update/3 -->
    <form th:action="@{/board/update/{id} (id = ${board.id})}" method="post">

        <!-- 제목 입력 필드 -->
        <!-- name="title"은 이 입력 필드의 이름을 지정하여 폼 제출 시 서버로 전달됨 -->
        <!-- th:value 속성을 사용하여 현재 게시물의 제목을 입력 필드에 미리 채움 -->
        <input name="title" type="text" th:value="${board.title}">

        <!-- 내용 입력 필드 -->
        <!-- name="content"는 이 텍스트 영역의 이름을 지정하여 폼 제출 시 서버로 전달됨 -->
        <!-- th:text 속성을 사용하여 현재 게시물의 내용을 텍스트 영역에 미리 채움 -->
        <textarea name="content"  th:text="${board.content}"></textarea>

        <!-- 폼을 제출하는 버튼 -->
        <button type="submit">수정</button>
    </form>
</div>
</body>
</html>-